    button {
        color: blue;
        font-size: 35px;
        margin-top: 20px;
        padding: 10px;
    }
  
    .user-input-X, .user-input-O {
        color: blue;
        font-size: 100px;
        text-align: center;
    }

    h1 {
        text-align: center;
        font-size: 52px;
    }

    .disabled {
        pointer-events: none;
    }

    td {
        height: 250px;
        width: 250px;
      }
      
    td div {
        margin: 0 auto;
        border: 1px solid transparent;
      }
      
    tr td:nth-child(2) {
        border-left: thick double rgb(104, 127, 146);
        border-right: thick double rgb(104, 127, 146);
      }
      
    tr:nth-child(2) td {
        border-top: thick double rgb(104, 127, 146);
        border-bottom: thick double rgb(104, 127, 146);
      }
      
html, body {
    height: 100vh;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
    font-family: helvetica;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
